@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
}
body {
    background-color: rgba(95, 157, 247, 0.2) !important;
    overflow-x: hidden;
    color: #2a8572 !important;
  }